<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>

    <p>You've requested to reset your Tasker password.</p>
    <p>To do so, click the link below. The link expires in 1 hour.</p>

    <p>
        <a th:href="@{${url}(token=${token},email=${email})}">
            Reset Password
        </a>
    </p>

    <p>
        If you didn't request a password reset,
        you can safely ignore this email.
    </p>

    <hr>

    <h2>TASKER</h2>
    <p>Manage your tasks with Tasker</p>
</body>
</html>